@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=288523EA-CC43-4AC0-A420-9D0D8F9E70B5
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-U_yN6Vt7BYtzS4vTD7z7
@simplecitizen:registry=https://gitlab.com/api/v4/packages/npm/
