@tailwind base;
@tailwind components;
@tailwind utilities;

/* .search-input:active + .search-container {
  background-color: black !important;
}
.search-input:focus + .search-container {
  background-color: black !important;
}

.search-container:focus-within {
  background-color: red;
} */
